#files-list {
  max-width: 1000px;
  margin: 0 auto;
  > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    width: calc(24% - 20px);
    position:relative;
    border:1px solid #efefef;
    overflow: hidden;
    a {
      display:block;
      background-size:cover;
      background-position:center center;
      height: 0;
      padding-top:130%;
      position:relative;
    }
    .overlay {
      position:absolute;
      left: 0;
      bottom: 0;
      padding:10px;
      width:100%;
      .title {
        color:white;
        font-weight:bold;
        font-size: 1.15em;
        line-height:1;
        display:block;

      }
    }

  }
}
