#app_wrap[data-slug="presspage"] {
  background: $grey-bg;
}
#press-section {

  padding: 45px percentage(10/320) 0;
  @media($dt) {
    padding: 90px percentage(100/1200) 0;
  }
  > h1 {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 16px;
    &:after {
      width: 35px;
      height: 1px;
      background:$l-maroon;
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom:0;
    }
  }
  #press-list {
    @media($dt) {
      margin-left: 90px;
    }
    > li {
      position: relative;
      padding-bottom: 80px;
      cursor: pointer;
      vertical-align: top;
      @media($dt) {
        display: inline-block;
        width: 225px;
        margin: 0 60px 0 0;
      }
      a.cover {
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 100%;
      }
      .poster {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        background-size: cover;
        background-position: center center;
        margin-bottom: 20px;
        @media($dt) {
          padding: 0;
          height: 265px;
        }
      }
      .excerpt {
        margin-bottom: 20px;
      }
    }
  }
  .more-posts-container {
    position: relative;
    margin-top:-20px;
    padding-bottom:60px;
    text-align: center;
    &.empty {
      display:none;
    }
  }
}
